.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background-color: #222;
  color: #fff;
  border: 1px solid #fff;
}

.footer__text {
  text-align: center;
  font-size: 18px;
  font-family: 'IBM Plex Sans', sans-serif;
  color: #fff;
}

.footer__text--bold {
  font-weight: bold;
}

.footer__text {
  font-size: 18px;
}
